body{
    min-height: 100vh;
    background-color: #ccccbd;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar bg-light{
    background-color: darkgrey;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card{
    width: 30rem;
    margin-top: 20px;
    margin-bottom: 20px;

}

.answer-Card:hover{
    background-color: lightgray;
    cursor: pointer;
}

.answer-Card{
    padding-left: 20px;
}

.end-cart{
    text-align: center;

}

.end-cart img{
    width: 400px;
    border-radius: 50%;
    object-fit: cover;

}

.end-cart p {
    font-size: 50px;
    color: darkgoldenrod
}
.progress{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.buttonRow{
    padding-top: 15px;
}